<!DOCTYPE HTML>
<html>
<head>
    <title>{{.Title}}</title>
    <meta charset="utf-8">

    <script src="/public/js/jquery-3.3.1.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/public/codebase/webix.css" type="text/css">
    <script src="/public/codebase/webix.js" type="text/javascript"></script>

    <link rel="stylesheet" href="/public/css/main.css" type="text/css">

    <script src="/public/js/data.js"></script>
    <script src="/public/js/parser_stringlify_serialize.js"></script>
    <script src="/public/js/Accessory.js"></script>

    <script src="/public/js/providers/ManagementModel.js"></script>
    <script src="/public/js/providers/AccountModel.js"></script>
    <script src="/public/js/providers/UserModel.js"></script>
    <script src="/public/js/providers/ProjectModel.js"></script>
    <script src="/public/js/providers/TaskModel.js"></script>

    <script src="/public/js/views/MainView.js"></script>
    <script src="/public/js/views/ManagementView.js"></script>
    <script src="/public/js/views/AccountView.js"></script>
    <script src="/public/js/views/ModalView.js"></script>
    <script src="/public/js/views/ProjectView.js"></script>
    <script src="/public/js/views/TaskView.js"></script>
    <script src="/public/js/views/UserView.js"></script>


    <script src="/public/js/controllers/ManagementController.js"></script>
    <script src="/public/js/controllers/AccountController.js"></script>
    <script src="/public/js/controllers/ModalController.js"></script>
    <script src="/public/js/controllers/TaskController.js"></script>
    <script src="/public/js/controllers/ProjectController.js"></script>
    <script src="/public/js/controllers/UserController.js"></script>

    <script src="/public/js/controllers/MainController.js"></script>
    <script src="/public/js/App.js"></script>

</head>
<body>
